SoftwaretechnikProjekt/Client/CommunicatioClient/ConsoleApplication1/Service References/FactoryServiceReference/FactoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.FactoryFactory.swtpro03.mi.hsrm.de/" targetNamespace="http://services.FactoryFactory.swtpro03.mi.hsrm.de/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="position">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" type="tns:direction" />
      <xs:element name="x" type="xs:int" />
      <xs:element name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="factory">
    <xs:sequence>
      <xs:element minOccurs="0" name="factoryID" type="xs:string" />
      <xs:element name="itemMap">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string" />
                  <xs:element minOccurs="0" name="value" type="tns:position" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NORTH" />
      <xs:enumeration value="SOUTH" />
      <xs:enumeration value="EAST" />
      <xs:enumeration value="WEST" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>